$border_color: rgba(217, 255, 245, 1);
$title_color: rgba(126, 126, 130, 1);
$form_color: rgba(181, 182, 188, 1);
$form_color_txt: red;

$font-family-ttlakes: 'TTLakes', -apple-system, sans-serif;

$text-xs: 12px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 24px;
$text-xxl: 28px;
$text-xxxl: 32px;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;
